<div class="center hero-unit">
	<h1>The Events</h1>
</div>
	<div class="container">
		<ul class="events">
		  <% @events.each do |event| %>
		    <li>
		      <%= link_to ("EVENT : " +event.name+" | CREATED AT : "+event.created_at.asctime), event %>
		    </li>
		  <% end %>
		</ul>
	</div>

